{% extends 'navbar.html' %}
{% block content %}
        <div class="d-flex justify-content-center align-items-center" style="height: 90vh;background-color: #fde1ff">
            
            <div class="p-3 row" style="height: 400px;width: 500px;background-color: white;border-radius: 0px;">
                {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
                    <h3 class="mt-5 ms-3 me-3" style="font-weight:600;">Login</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                            <p class="text-center text-danger">{{ form.username.error }}</p>
                            {{ form.username }}
                           </div>
                           <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                            <p class="text-center text-danger">{{ form.password.error}}</p>
                            {{ form.password }}
                           </div>
                        <div class="mb-3 ms-3 me-3" >
                            <!-- <a href="{% url 'shop' %}" class="btn text-light d-flex justify-content-center"  style="width: 410px;height: 50px;border-radius: 0%;background-color: #ff4141;font-size: larger;">Continue</a> -->
                            <button class="btn text-light d-flex justify-content-center"  style="width: 410px;height: 50px;border-radius: 0%;background-color: #ff4141;font-size: larger;">Continue</button>
                        </div>
                        <p class="ms-3 me-3 mb-5 text-secondary">
                            Create an account? 
                            <a href="{% url 'registration' %}" style="text-decoration: none; color: #ff4141; font-weight: 700;" >
                                Click here
                            </a>
                        </p>
                        <p class="text-center">
                            <a href="{% url 'password_reset' %}" style="color: #ff4141; font-weight: 700;">
                                Forgot your password?
                            </a>
                        </p>
                        
                    </form>
                
            </div>
        </div>
        {% endblock content %}