{% extends "navbar.html" %}

{% block title %} Password Reset {% endblock title%}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh;background-color: #fde1ff;">
        <div class="p-3 row" style="height: 350px;width: 500px;background-color: white;border-radius: 0px;">
            
            {% if validlink %}
                <h3 class="mt-4 ms-3 me-3 text-center" style="font-weight:600;">Reset Your Password</h3>
                <form method="POST">
                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endif %}
                    
                    <div class="mb-2 ms-3 me-3 mt-2">
                        <input type="password" name="new_password1" autocomplete="new-password"
                               class="form-control" required id="id_new_password1"
                               placeholder="Enter New Password" style="width: 100%; height: 50px; border-radius: 0;"/>
                    </div>
                    
                    <div class="mb-3 ms-3 me-3" >
                        <input type="password" name="new_password2" autocomplete="new-password"
                               class="form-control" required id="id_new_password2" style="width: 100%; height: 50px; border-radius: 0;"
                               placeholder="Confirm New Password"/>
                    </div>

                    <div class="mb-3 ms-3 me-3">
                        <button class="btn text-light d-flex justify-content-center" 
                                style="width: 410px;height: 50px;border-radius: 0%;background-color: #ff4141;font-size: larger;">
                            Reset Password
                        </button>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-warning">
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                </div>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}
