{% extends "navbar.html" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh; background-color: #fde1ff;">
        <div class="p-3 row" style="height: 300px; width: 500px; background-color: white; border-radius: 0px;">
            <h3 class="mt-4 ms-3 me-3 mb-4 text-center" style="font-weight:600;">Forgot Password?</h3>
            <form method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="mb-3 ms-3 me-3">
                    <input type="email" style="width: 100%; height: 50px; border-radius: 0;" name="email" class="form-control" autocomplete="email" maxlength="254" required id="id_email" placeholder="Enter your email">
                </div>
                <div class="mb-3 ms-3 me-3">
                    <button type="submit" class="btn text-light d-flex justify-content-center" style="width: 410px; height: 50px; border-radius: 0%; background-color: #ff4141; font-size: larger;">
                        Submit
                    </button>
                </div>
                <p class="ms-3 me-3 mb-5  text-secondary d-flex justify-content-between">
                    <a href="{% url 'registration' %}" style="text-decoration: none; color: #ff4141; font-weight: 700;">Create a New Account</a>
                    <a href="{% url 'login' %}" style="color: #ff4141; font-weight: 700; text-decoration: none;">Back to Login</a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
