{% extends 'navbar.html' %}
{% block content %}
            <div class="d-flex justify-content-center align-items-center" style="height: 100vh;background-color: #fde1ff;">
                <div class="p-3 row" style="height: 520px;width: 500px;background-color: white;border-radius: 0px;">
                    <h3 class="mt-5 ms-3 me-3" style="font-weight: 700;">Sign Up</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                                <p class="text-center text-danger">{{ form.username.errors }}</p>
                                {{ form.username }}
                               </div>
                               <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                                <p class="text-center text-danger">{{ form.email.errors }}</p>
                                {{ form.email }}
                               </div>
                               <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                                <p class="text-center text-danger">{{ form.password1.errors }}</p>
                                {{ form.password1 }}
                               </div>
                               <div class="mb-3 ms-3 me-3" style="width: 410px;height: 50px;border-radius: 0%;">
                                <p class="text-center text-danger">{{ form.password2.errors }}</p>
                                {{ form.password2 }}
                               </div>
                            <div class="mb-3 ms-3 me-3" >
                                <button class="btn text-light d-flex justify-content-center"  style="width: 410px;height: 50px;border-radius: 0%;background-color: #ff4141; font-size: larger;">Continue</button>
                            </div>
                            <p class="ms-3 me-3 mb-5 text-secondary">
                                Already have an account? 
                                <a href="{% url 'login' %}" style="text-decoration: none; color: #ff4141;font-weight: 700;">
                                    Login here
                                </a>
                            </p>
                            
                        </form>
                    
                </div>
            </div>


            {% endblock content %}