{% extends 'navbar.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="margin-top: 80px; margin-bottom: 80px; height: 60vh;">
    <div class="row w-100 text-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center" style="color: #6c5907;">
            <h1 style="font-family: cursive;">A Social <br> Enterprise An <br> authentic <br> platform for pure <br> craft.</h1>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <p style="font-family: cursive;">Craft.io is an online platform that curates carefully selected handcrafted products from local artisans. Our goal is to offer unique, high-quality handmade goods while celebrating artisans' talent and cultural heritage.</p>
            <p style="font-family: cursive;">We provide a user-friendly experience, making it easy for customers to explore a wide range of handcrafted items. Craft.io supports local artisans and preserves traditional craftsmanship. We aim to connect artisans with customers who value quality, creativity, and culture. It’s a platform that celebrates the art of handcrafted goods.</p>
        </div>
    </div>
</div>

{% endblock content %}
