{% extends 'navbar.html' %}

{% block content %}

<div class="container" style="margin-top: 80px;margin-bottom: 80px;height: 60vh;" >
    <!-- Single Row with Two Columns -->
    <div class="row">
        <!-- Column 1: Social Enterprise Description -->
        <div class="col-md-6 d-flex align-items-center text-center" style="color:#6c5907 ;">
            <h1 style="font-weight: bold;">A Social <br> Enterprise An <br> authentic <br> platform for pure <br> craft.</h3>
        </div>
        
        <!-- Column 2: Craft.io Description -->
        <div class="col-md-6">
            <p class="lead">Craft.io is an online platform that curates carefully selected handcrafted products from local artisans. Our goal is to offer unique, high-quality handmade goods while celebrating artisans' talent and cultural heritage.</p>
            <p class="lead">We provide a user-friendly experience, making it easy for customers to explore a wide range of handcrafted items. Craft.io supports local artisans and preserves traditional craftsmanship. We aim to connect artisans with customers who value quality, creativity, and culture. It’s a platform that celebrates the art of handcrafted goods.</p>
        </div>
    </div>
</div>
{% endblock content %}
