{% extends 'navbar.html' %}
{% block content %}
{% load custom_filters %}


<!-- breadcrumb -->
<div style="margin: 50px 0px 20px 80px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size: larger;">
            <li class="breadcrumb-item"><a href="{% url 'shop' %}" style="text-decoration: none;color: rgb(135, 135, 136);">Shop</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'products' product.category %}" style="text-decoration: none;color: rgb(135, 135, 136);">{{ product.category }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'pdetail' product.id %}" style="text-decoration: none;color: rgb(135, 135, 136);">{{ product.title }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Reviews and Rating</li>
        </ol>
    </nav>
    </div>


<div class="container mt-5">
    <h5 class="mb-4">Reviews for {{ product.title }}</h5>

    <!-- customer reviews -->
    <div>
        {% for review in reviews %}
            <div class="row mb-3 nt-5">
                <div class="col-md-10">
                    <p><b>{{ review.user.username }}</b> - {{ review.created_at|date:"d M Y" }}</p>
                    <p>Rating: 
                        {% with review.rating as rating %}
                            {{ rating|to:5 }}
                        {% endwith %}
                    </p>
                    <p>{{ review.comment }}</p>
                </div>
                {% if review.user == request.user %}
                <div class="col-md-2">
                    <a href="{% url 'update_review' review.id %}" class="d-block mb-4">
                        <i class="fa-solid fa-pen-to-square" style="color: rgb(232, 194, 4);"></i>
                    </a>
                    <form method="POST" action="{% url 'delete_review' review.id %}">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; padding: 0;">
                            <i class="fa-solid fa-trash" style="color: #bb180c;"></i>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            <hr>
        {% empty %}
            <p>No reviews yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}
